/* resets */
a:hover {
    text-decoration: none;
}


header {
        .nav-pills.nav-socials { 
            position: relative;            
            padding: 0;
            li {
                list-style: none;                
                color: white;
                span {
                    display: block;
                    font-size: 16px;
                    color: #9b1b28;
                    margin-bottom: 15px;
                }
                a {
                    color: white;
                    font-size: 20px;
                    &:nth-child(2) {
                            position: absolute;
                            right: 0;
                    }
                }
            }
        }

        .nav-wrapper {
            position: fixed;
            left: -100%;            
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;    
            background: linear-gradient(151deg,#000154,#0c0a22);
            align-items: center;
            width: 100%;
            transition: .3s; 
            &.active {
                left: 0;
            }
        }


        @media (min-width: $screen-md-min) { 
            height: 55px;
            background: linear-gradient(93deg,#000154,#0c0a22);             
        
            .nav-wrapper {
                position: relative;
                left: 0;
                max-width: 1027px;
                margin: 0 auto;
                height: 100%;
                img {
                    position: absolute;
                    left: 0;
                    max-width: 63.8px;
                    bottom: 20%;
                }
                .nav-pills.nav-socials { 
                    position: absolute;
                    right: 0;
                    display: flex;
                    align-items: center;
                    bottom: 10%;                                          

                    li {
                        font-size: 13px;
                        span {
                            display: inline;
                            color: white;
                        }
                        a {
                            font-size: 13px;
                            position: static;                        
                            opacity: 0.6;
                            &:hover {
                                opacity: 1;
                            }
                        }                   
                    
                        i {
                            font-size: 15px;
                            margin: 0 10px;
                            position: static;
                        }
                    }    
                    li.languages {
                        a:first-child {
                            border-left: 1px solid #9b1b28;
                            padding-left: 15px;
                        } 
                    }          
                }            
            }
        }
}



nav {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;            
        align-items: center;
        width: 100%;
        transition: .3s;            
        .nav-menu {
            padding-left: 0;
            list-style: none;
            li {
                margin-bottom:  40px;
                text-align: center;
                position: relative;
                a {
                    color: #fff;
                    font-size: 22px;
                }
                &:not(:last-child):before {
                            content: ' ';
                            position: absolute;
                            right: 0;
                            left: 0;
                            margin-left: 38%;
                            margin-right: 38%;
                            bottom: -15px;
                            border-bottom: 2px solid #9b1b28;
                }
            }
        }
        
        @media (min-width: $screen-md-min) { 
            position: static;

            .logo {
                width: 63.8px;
                height: 32.8px;
            }
            .nav-menu {                
                top: 30%;
                position: absolute;
                li {
                    display: inline;
                    border-right: 0.5px solid #d40020;
                    &:before {
                        content: none !important;
                    }
                    a {                
                        font-size: 13px;
                        padding-left: 20px;
                        padding-right: 20px;                        
                        color:  #fff;
                        &:hover {                    
                            color: #d40020;
                        }
                    }                          
                }
            }            
        }
}

.aux-header {
    position: fixed;
    top: 5px;    
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;    
    padding: 0 10px;
    color: #fff;
    align-items: center;
    img {
        max-width: 63.8px;
    }
}

footer {
    height: 134px;
    background: #000154;
    .footer-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;  
        margin: 0 20px;      
        justify-content: space-around;
        .footer-info {
            display: flex;
            align-items: center;
            color: white;
            &-ru-logo {
                max-width: 47px;
                margin-right: 15px;
            }
        }
        .footer-logos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                max-width: 70px;
            }
        }
    }
    
    
    @media (min-width: $screen-md-min) {             
            height: 78px;            
            .footer-wrapper {
                max-width: 1027px;
                margin: 0 auto;
                flex-direction: row;
                justify-content: space-between;
                .footer-info {
                    width: 40%;
                }
                .footer-logos {
                    width: 48%;
                    img {
                        max-width: 90px;
                    }                    
                }
            }
    }
}